body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*REGISTRATION PAGE*/
#registerTitle{
  text-align: center;
  font-size: 7rem !important;
  margin-top: 5vh;
  color:white;
  text-shadow: 1px 1px black;
  font-style: italic;
  align-self: center
}

#registerbtn{
  color:  black !important;
  margin:  28vh 0 0 0 !important;
  border: 0.7px solid rgba(2, 2, 2,1.0);
  width: 50vh;
  align-self: center;
}

#loginbtn{
  border: 0.5px solid rgba(2, 2, 2,1.0);
  margin: 5px;
  align-self: center;
}

#registerbg{
  background-image: url(./views/Images/Backgrounds/bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;

}

#registerNowForm{
  background-color: rgba(255, 152, 0,1.0) !important;
  

}
#registerNowTitle{
  font-family: 'Lilita One', cursive !important;
}
/* END REGISTRATION PAGE*/


/*LOGIN PAGE*/
#loginBackground{
  background-image: url(./views/Images/Backgrounds/bg7.jpg);
  background-size: cover;
  background-position: right;
  height: 100vh;
}

#cardRow{
  justify-content: center;
}
#card{
  margin-top: 100px;
  align-self: center;
  background-color: rgba(0,0,0,0.26);
  border-color: #ff5722;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 16px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -14px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px -14px rgba(0,0,0,0.75);
}

#cardHeader{
  border-color: #ff5722;
  color:#ff5722;
}

#loginTextField{
  margin: 5px auto;
}
#textField1 {
  color: black !important;
  border-color: black !important;
}

#loginButton{

}

#button{

}
#btnRegister{
  margin: 17px auto auto 10px;
  color: #ff5722;
}
#btnRegister:hover{
  color: #c41c00;
}
/*END OF LOGIN PAGE*/

/*ADD FORM*/

#addForm-Image{
  
}

.MuiCardActions-root{

}

#NaviTitleButton{
  font-family: 'Bree Serif', serif!important;
  font-size:24px !important;
  background-color: rgba(0,0,0,0);
  border: none;
  text-transform: uppercase;
}
#NaviTitleButton:hover{
  color:#ddd;
  text-shadow: 0.5px 0.5px black;
}
.MuiTypography-h5{
 font-family: 'Bree Serif', serif!important;
}

.MuiTypography-h6{
 font-family: 'Solway', serif!important;
 font-size: 13px !important;
}
#cardPostPrice{
 font-size: 15px !important;
 color: #111;
}


#loadingCircle{
  margin-top: 50vh;
}


/*HOME PAGE*/
    /*JUMBOTRON*/
#jumbotronbg{
  background-size: cover;
  background-image: url(./views/Images/Backgrounds/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#titleP{
  font-family: 'Lilita One', cursive;
  color: #ff5722;
  text-shadow: 1px 1px black;

}

.lead{
  font-family: 'Lilita One', cursive;
  font-size: 22px;
  color:rgba(1, 66, 154, 1);
}
#pansolLaguna{
  font-size: 24px;
}
.homePageDescription{
  font-family: 'Lilita One', cursive;
}
#btnf1, #btnf2{
  font-family: 'Lilita One', cursive;
  margin:3px;
}
    /*END OF JUMBOTRON*/

    /*DESCRIPTION*/
#descriptionpagetitle{
  font-family: 'Bree Serif', serif!important;
  margin: auto auto 10px 20px;
  font-size: 24px;
}
#dotLogo{
  background-image: url(./views/Images/Backgrounds/dot.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#dtiLogo{
  background-image: url(./views/Images/Backgrounds/dti.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}
#lagunaLogo{
  background-image: url(./views/Images/Backgrounds/laguna.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;   
}
#gridBox{
  margin: 30px auto 40px auto;
}

/*FOOTER*/
#footer{
 height: 15vh;
 background-color: #ff8a50;
}
.footerPage{
  margin:none;
}